<form action="/course/add" method="POST">
<p>
    <label for="">Course Name</label><input type="text" value="" name="courseName"><br/>
    <label for="">Course Duration</label><input type="text" value="" name="courseDuration"><br/>
    <label for="">Course Fee</label><input type="text" value="" name="courseFee"><br/>
    <button type="submit">Add Course</button>
</p>
</form>